<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zhku.boot.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="edu.zhku.boot.entity.Log">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,operator_id,type,
        ip_address,create_time
    </sql>
</mapper>
